server {
    listen 80;
    server_name www.webapp.com;
    root /home/app/;

    location ~ ^/amber(/.*|$) {
        passenger_enabled on;

        alias /home/app/public$1;

	passenger_app_env %RAILS_ENV%;

        passenger_base_uri /amber;
        passenger_app_root /home/app;
        passenger_document_root /home/app/public;
        passenger_user app;
        passenger_ruby /usr/bin/ruby2.1;
        }
}
