<h1>Listing posts</h1>

<table>
  <tr>
    <th>textid</th>
    <th>Title</th>
    <th>Published</th>
    <th>DateTime</th>
  </tr>

<% @posts.each do |p| %>
  <tr>
    <td><%= p.textid %></td>
    <td><%= link_to p.title, blog_post_path(@blog,p) %></td>
    <td><%= p.published.to_s %></td>
    <td><%= p.date %></td>
  </tr>
<% end %>
</table>
