/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides 
 */

header > p {
  color: grey;
  font-style: italic;
}
.postfoot {
  display: block;
  clear: both;
  min-height: 1px;
}
.amberblogdescription {
  font-style: italic;
}

#ambertagscloud {
  text-align: center;
}

.tag-selected {
	background: #266363;
	color: #ffffff;
}

.tag {
	margin: 5px 5px 5px 5px;
	}

.heat-0 { color: #72bcbc }
.heat-1 { color: #478989 }
.heat-2 { color: #266363 }
.heat-3 { color: #134444 }
.heat-4 { color: #052323 }
.heat-4 { color: #052323 }

.posts-0 { font-size: 14px }
.posts-1 { font-size: 16px }
.posts-2 { font-size: 18px }
.posts-3 { font-size: 20px }
.posts-4 { font-size: 22px }
.posts-5 { font-size: 24px }

pre, code {
  overflow: auto;
  background-color: #DDDDDD;
  color: #444444;
  padding: 5px;
  border-left: 4px #008CBA solid; 
}
